### Explore how to extract data from the uscensus api

In [1]:
import requests
import pandas as pd
import json
import os

In [2]:
%load_ext dotenv
%dotenv

In [3]:
api_key=os.environ['API_KEY']

### Groups used: (demographics, social, economics, housing)
```
demo_groups = ['B01001', 'B05003', 'B02015', 'DP05', 'B03001']

soci_groups = ['B00002', 'B11002', 'B04006', 'B11009', 'B05005', 
                'C16001', 'B05006', 'DP02', 'B07204', 'S1810']
                
econ_groups = ['B00001', 'B19025', 'B00002', 'B19101', 'B01001', 
                'B19201', 'B08013', 'B19313', 'B17010', 'B20005', 
                'B17024', 'DP03', 'B19001', 'S1701']
                
hous_group = ['B00002', 'B25070', 'B25004', 'B25075', 
                'B25008', 'DP04', 'B25063']
```

In [4]:
demo_groups = ['B01001', 'B05003', 'B02015', 'DP05', 'B03001']

soci_groups = ['B11002', 'B04006', 'B11009', 'B05005', 
               'B05006', 'DP02', 'B07204', 'S1810']
                
econ_groups = ['B19025', 'B19101', 'B01001', 
                'B19201', 'B08013', 'B19313', 'B17010', 'B20005', 
                'B17024', 'DP03', 'B19001', 'S1701']
                
hous_groups = ['B25070', 'B25004', 'B25075', 'B25008',
                'DP04', 'B25063']

all_groups = demo_groups + soci_groups + econ_groups + hous_groups

In [5]:
groups = json.loads(requests.get('https://api.census.gov/data/2017/acs/acs5/groups.json').content)
profile_groups = json.loads(requests.get('https://api.census.gov/data/2017/acs/acs5/profile/groups.json').content)
cprofile_groups = json.loads(requests.get('https://api.census.gov/data/2017/acs/acs5/cprofile/groups.json').content)
subject_groups = json.loads(requests.get('https://api.census.gov/data/2017/acs/acs5/subject/groups.json').content)

In [6]:
meta = pd.DataFrame(groups['groups']+profile_groups['groups']+cprofile_groups['groups']+subject_groups['groups'])

In [7]:
meta['description'] = meta['description'].apply(lambda x: x.lower())

In [8]:
meta = meta[meta['name'].isin(all_groups)]

In [9]:
endpoint_lookup = {
    'B':'',
    'C':'', 
    'S':'/subject', 
    'D':'/profile'
}
meta['endpoint'] = meta['name'].apply(lambda x: endpoint_lookup.get(x.strip()[0]))

In [10]:
meta

,description,name,variables,endpoint
21,poverty status in the past 12 months of famili...,B17010,https://api.census.gov/data/2017/acs/acs5/grou...,
37,geographical mobility in the past year for cur...,B07204,https://api.census.gov/data/2017/acs/acs5/grou...,
68,sex by age by nativity and citizenship status,B05003,https://api.census.gov/data/2017/acs/acs5/grou...,
70,place of birth for the foreign-born population...,B05006,https://api.census.gov/data/2017/acs/acs5/grou...,
72,period of entry by nativity and citizenship st...,B05005,https://api.census.gov/data/2017/acs/acs5/grou...,
197,nonfamily household income in the past 12 mont...,B19201,https://api.census.gov/data/2017/acs/acs5/grou...,
200,age by ratio of income to poverty level in the...,B17024,https://api.census.gov/data/2017/acs/acs5/grou...,
218,hispanic or latino origin by specific origin,B03001,https://api.census.gov/data/2017/acs/acs5/grou...,
278,total population in occupied housing units by ...,B25008,https://api.census.gov/data/2017/acs/acs5/grou...,
284,vacancy status,B25004,https://api.census.gov/data/2017/acs/acs5/grou...,
299,value,B25075,https://api.census.gov/data/2017/acs/acs5/grou...,
312,gross rent as a percentage of household income...,B25070,https://api.census.gov/data/2017/acs/acs5/grou...,
331,gross rent,B25063,https://api.census.gov/data/2017/acs/acs5/grou...,
440,household type by relatives and nonrelatives f...,B11002,https://api.census.gov/data/2017/acs/acs5/grou...,
447,unmarried-partner households by sex of partner,B11009,https://api.census.gov/data/2017/acs/acs5/grou...,
473,sex by age,B01001,https://api.census.gov/data/2017/acs/acs5/grou...,
495,aggregate travel time to work (in minutes) of ...,B08013,https://api.census.gov/data/2017/acs/acs5/grou...,
641,aggregate income in the past 12 months (in 201...,B19313,https://api.census.gov/data/2017/acs/acs5/grou...,
724,family income in the past 12 months (in 2017 i...,B19101,https://api.census.gov/data/2017/acs/acs5/grou...,
774,asian alone by selected groups,B02015,https://api.census.gov/data/2017/acs/acs5/grou...,
855,people reporting ancestry,B04006,https://api.census.gov/data/2017/acs/acs5/grou...,
981,aggregate household income in the past 12 mont...,B19025,https://api.census.gov/data/2017/acs/acs5/grou...,
1013,sex by work experience in the past 12 months b...,B20005,https://api.census.gov/data/2017/acs/acs5/grou...,
1037,household income in the past 12 months (in 201...,B19001,https://api.census.gov/data/2017/acs/acs5/grou...,
1127,selected housing characteristics,DP04,https://api.census.gov/data/2017/acs/acs5/prof...,/profile
1128,acs demographic and housing estimates,DP05,https://api.census.gov/data/2017/acs/acs5/prof...,/profile
1130,selected social characteristics in the united ...,DP02,https://api.census.gov/data/2017/acs/acs5/prof...,/profile
1131,selected economic characteristics,DP03,https://api.census.gov/data/2017/acs/acs5/prof...,/profile
1187,poverty status in the past 12 months,S1701,https://api.census.gov/data/2017/acs/acs5/subj...,/subject
1199,disability characteristics,S1810,https://api.census.gov/data/2017/acs/acs5/subj...,/subject

#### Extract each group of data for different geographic levels:
Idea: given group and endpoint, extract all variables assosiated with that group

In [11]:
def get_tract(year, group, endpoint):
    frames = []
    for county in ['081', '085', '005', '047', '061']:
        url = f'https://api.census.gov/data/{year}/acs/acs5{endpoint}?get=group({group})&for=tract:*&in=state:36&in=county:{county}&key={api_key}'
        resp = requests.request('GET', url).content
        df = pd.DataFrame(json.loads(resp)[1:])
        df.columns = json.loads(resp)[0]
        frames.append(df)
    return pd.concat(frames)

def get_puma(year, group, endpoint):
    url = f'https://api.census.gov/data/{year}/acs/acs5{endpoint}?get=group({group})&for=Public Use Microdata Area:*&in=state:36&key={api_key}'
    resp = requests.request('GET', url).content
    df = pd.DataFrame(json.loads(resp)[1:])
    df.columns = json.loads(resp)[0]
    return df[df['NAME'].str.startswith('NYC')]


def get_borough(year, group, endpoint):
    url = f'https://api.census.gov/data/{year}/acs/acs5{endpoint}?get=group({group})&for=county:*&in=state:36&key={api_key}'
    try:
        resp = requests.request('GET', url).content
        df = pd.DataFrame(json.loads(resp)[1:])
        df.columns = json.loads(resp)[0]
        return df
    except: 
        print(url)

def get_city(year, group,endpoint):
    url = f'https://api.census.gov/data/{year}/acs/acs5{endpoint}?get=group({group})&for=place:51000&in=state:36&key={api_key}'
    resp = requests.request('GET', url).content
    df = pd.DataFrame(json.loads(resp)[1:])
    df.columns = json.loads(resp)[0]
    return df

In [12]:
get_tract(2017, 'B19025', '').head()

,GEO_ID,B19025_001E,B19025_001M,NAME,B19025_001EA,B19025_001MA,state,county,tract
0,1400000US36081003700,-666666666,-222222222,"Census Tract 37, Queens County, New York",-,**,36,081,003700
1,1400000US36081009900,-666666666,-222222222,"Census Tract 99, Queens County, New York",-,**,36,081,009900
2,1400000US36081010701,-666666666,-222222222,"Census Tract 107.01, Queens County, New York",-,**,36,081,010701
3,1400000US36081017100,-666666666,-222222222,"Census Tract 171, Queens County, New York",-,**,36,081,017100
4,1400000US36081022900,-666666666,-222222222,"Census Tract 229, Queens County, New York",-,**,36,081,022900

In [46]:
get_city(2017, 'B19025', '').head()

,GEO_ID,B19025_001E,B19025_001M,NAME,B19025_001EA,B19025_001MA,state,place
0,1600000US3651000,292860702600,2269561153,"New York city, New York",None,None,36,51000

In [47]:
get_puma(2017, 'B19025', '').head()

,GEO_ID,B19025_001E,B19025_001M,NAME,B19025_001EA,B19025_001MA,state,public use microdata area
1,7950000US3604104,4359443900,130746875,"NYC-Queens Community District 11--Bayside, Dou...",None,None,36,04104
2,7950000US3604103,6459349600,168313957,"NYC-Queens Community District 7--Flushing, Mur...",None,None,36,04103
3,7950000US3604114,2967368300,105584826,NYC-Queens Community District 14--Far Rockaway...,None,None,36,04114
8,7950000US3603810,17200671100,560477049,NYC-Manhattan Community District 1 & 2--Batter...,None,None,36,03810
32,7950000US3604110,5169001200,103566191,"NYC-Queens Community District 5--Ridgewood, Gl...",None,None,36,04110

#### Given category (demographics, social, economics, housing), and method, create one big table (contianing all groups) for each geographic level

In [13]:
def create_table(group, getter, year):
    frames = []
    for i in group:
        df = getter(year, i, meta.loc[meta['name']==i]['endpoint'].values[0])
        frames.append(df)
    df = frames[0]
    df = df[df.columns.difference(['place', 'tract', 'state', 'county', 'public use microdata area'])]
    for i in frames[1:]:
        df = pd.merge(df, i[i.columns.difference(['state', 'county', 'tract', 'NAME', 'place', 'public use microdata area'])], 
                      left_on='GEO_ID', right_on='GEO_ID')
    df = df[[i for i in list(df.columns) if i[-1:] != 'A']]
    return df

In [49]:
create_table(hous_groups, get_borough, 2017).head()

,B00002_001E,GEO_ID,NAME,B25070_001E,B25070_001M,B25070_002E,B25070_002M,B25070_003E,B25070_003M,B25070_004E,...,B25063_023E,B25063_023M,B25063_024E,B25063_024M,B25063_025E,B25063_025M,B25063_026E,B25063_026M,B25063_027E,B25063_027M
0,2794,0500000US36095,"Schoharie County, New York",3068,262,140,66,247,78,301,...,7,12,14,19,0,24,0,24,375,90
1,32864,0500000US36005,"Bronx County, New York",397698,2130,11373,865,24163,1247,34584,...,12766,741,1812,288,701,191,433,135,10065,799
2,18944,0500000US36067,"Onondaga County, New York",65234,1115,2751,309,5631,584,8026,...,736,165,201,85,151,77,137,96,2027,253
3,2835,0500000US36035,"Fulton County, New York",6450,482,210,106,439,134,665,...,0,27,0,27,0,27,33,49,676,175
4,3319,0500000US36019,"Clinton County, New York",10138,424,508,170,1077,216,1031,...,26,26,46,47,23,20,0,27,720,175

#### Combine different levels of data, including city, borough, puma and census tracts

In [14]:
def create_big_table(group, year):
    frames = []
    frames.append(create_table(group, get_borough, year))
    frames.append(create_table(group, get_tract, year))
    frames.append(create_table(group, get_city, year))
    frames.append(create_table(group, get_puma, year))
    return pd.concat(frames)

In [15]:
demo_df = create_big_table(demo_groups, 2017)
demo_df.to_csv('data/demo.csv', index=False)

In [16]:
demo_df.shape

(2285, 614)

In [17]:
hous_df = create_big_table(hous_groups, 2017)
hous_df.to_csv('data/hous.csv', index=False)

In [18]:
hous_df.shape

(2285, 726)

In [19]:
soci_df = create_big_table(soci_groups, 2017)
soci_df.to_csv('data/soci.csv', index=False)

In [20]:
soci_df.shape

(2285, 1684)

In [21]:
econ_df = create_big_table(econ_groups, 2017)
econ_df.to_csv('data/econ.csv', index=False)

In [22]:
econ_df.shape

(2285, 1660)