In [1]:
import pandas as pd
import json
import numpy as np

In [4]:
df = pd.read_csv('../data/demo_final1.csv', index_col=False, low_memory=False)

In [5]:
df.head()

,pop25t29e,pop25t29m,pop25t29p,pop25t29z,pop25t29c,pop40t44e,pop40t44m,pop40t44p,pop40t44z,pop40t44c,...,asn1rce,asn1rcm,asn1rcp,asn1rcz,asn1rcc,geo_id,name,geoid,geotype,geogname
0,2310.0,370.905648,7.190214,1.120307,9.760803,2216.0,287.956594,6.897625,0.855446,7.899350,...,3165.0,551.238605,100.0,NaN,10.587661,BX31,BX31,BX31,NTA2010,Allerton-Pelham Gardens
1,5404.0,652.869819,9.362764,1.093873,7.344214,3732.0,483.424244,6.465921,0.813614,7.874462,...,2324.0,443.419666,100.0,NaN,11.598796,BX05,BX05,BX05,NTA2010,Bedford Park-Fordham North
2,2928.0,538.426411,9.763254,1.733736,11.178651,1500.0,295.978040,5.001667,0.957573,11.995057,...,548.0,203.592731,100.0,NaN,22.584777,BX06,BX06,BX06,NTA2010,Belmont
3,3444.0,489.737685,9.043405,1.236867,8.644393,2470.0,375.532955,6.485834,0.953231,9.242409,...,1186.0,366.243089,100.0,NaN,18.772359,BX07,BX07,BX07,NTA2010,Bronxdale
4,2976.0,453.673892,8.299866,1.211234,9.267124,2245.0,394.908850,6.261156,1.066245,10.693371,...,50.0,47.423623,100.0,NaN,57.657900,BX01,BX01,BX01,NTA2010,Claremont-Bathgate

In [6]:
var = set(list(map(lambda x: x[:-1], df.columns)))

In [10]:
rounding = {
    'mdage':1,
    'avghhsz':2,
    'avgfmsz':2,
    'mntrvtm':1,
    'hovacrt':1,
    'mdrms':1,
    'avghhsooc':2,
    'avghhsroc':2
}
r = []
for i in ['mdage']: 
    cols = ['geo_id', 'name', i+'c', i+'e', i+'m', i+'p', i+'z']
    dff = df.loc[:, cols]
    dff.columns=['geoid', 'geoname', 'c', 'e', 'm', 'p', 'z']
    dff['variable'] = i
    dff.loc[:,'c'] = dff['c'].round(1)
    dff.loc[:,'e'] = dff['e'].round(rounding.get(i, 0))
    dff.loc[:,'m'] = dff['m'].round(rounding.get(i, 0))
    dff.loc[:,'p'] = dff['p'].round(1)
    dff.loc[:,'z'] = dff['z'].round(1)
    r.append(dff)

In [11]:
result = pd.concat(r)

In [13]:
{'pop40t44', 'fpop70t74', 'mpop50t54', 'pop5t9', 'hspec', 'popu5', 'hspspnrd', 'mdpop25t29', 'rc2plnh', 'hspcr', 'fpop0t5', 'pop25t29', 'hspbol', 'pop_2', 'asnsouth', 'hspsam', 'mpop45t49', 'mdpop85pl', 'hsp1', 'hspnic', 'mdpop40t44', 'fpop5t9', 'asnmalsn', 'pop60t64', 'asnbng', 'hsp2', 'mpop55t59', 'hspprg', 'mpop5t9', 'nhpinh', 'mpop10t14', 'popu181', 'asnokinw', 'hspcam', 'fpop15t19', 'pop85pl', 'asnflp', 'hsparg', 'pop70t74', 'asnhmng', 'fpop65t69', 'geognam', 'mdpop0t4', 'pop30t34', 'fpop30t34', 'hspguatm', 'asnpak', 'mdpop35t39', 'mdpop45t49', 'pop65plf', 'asn2pl', 'mdpop_3', 'pop15t19', 'pop10t14', 'mdpop60t61', 'mdpop75t79', 'asnsril', 'pop80t84', 'mdpop15t17', 'mpop15t19', 'asnmgol', 'asn1rc', 'mdpop65t66', 'hspcub', 'mpop75t79', 'mpop85pl', 'pop50t54', 'pop_6', 'pop', 'mpop20t24', 'pop75t79', 'fem', 'asnind', 'fpop60t64', 'hsposam', 'fpop25t29', 'geo_i', 'geoi', 'hspdom', 'asnseast', 'fpop85pl', 'fpop50t54', 'pop65t69', 'mdpop70t74', 'pop35t39', 'asnjpn', 'mpop30t34', 'mpop60t64', 'mdpop62t64', 'wtnh', 'nhsp', 'mpop0t5', 'othnh', 'blnh', 'asnvtn', 'nam', 'hspvnz', 'pop65plm', 'asnbhutn', 'mdpop21', 'mdpop5t9', 'mpop65t69', 'fpop45t49', 'asntwn', 'mdpop55t59', 'asnnh', 'mdpop10t14', 'pop65pl2', 'mdpop22t24', 'fpop20t24', 'pop65pl1', 'mpop25t29', 'hspoth', 'hspurg', 'mpop80t84', 'hsppr', 'mpop35t39', 'mdage', 'asnthai', 'hspsalv', 'pop45t49', 'asncmb', 'hsphnd', 'mdpop50t54', 'asnchinot', 'mdpop30t34', 'asneast', 'asnlao', 'fpop10t14', 'hsppan', 'hspme', 'mdpop20', 'mpop40t44', 'geotyp', 'asnkor', 'mpop70t74', 'pop20t24', 'mdpop67t69', 'hspperu', 'asnoasn', 'mdpop80t84', 'popu18m', 'asnburm', 'fpop75t79', 'fpop55t59', 'hspalloth', 'fpop35t39', 'hspchl', 'aiannh', 'pop55t59', 'fpop40t44', 'popu18_2', 'male', 'mdpop18t19', 'asnindnsn', 'asnnepal', 'hspocam', 'popu18f', 'hspspam', 'hspspnsh', 'pop_1', 'fpop80t84', 'hspcol'}

{'aiannh',
 'asn1rc',
 'asn2pl',
 'asnbhutn',
 'asnbng',
 'asnburm',
 'asnchinot',
 'asncmb',
 'asneast',
 'asnflp',
 'asnhmng',
 'asnind',
 'asnindnsn',
 'asnjpn',
 'asnkor',
 'asnlao',
 'asnmalsn',
 'asnmgol',
 'asnnepal',
 'asnnh',
 'asnoasn',
 'asnokinw',
 'asnpak',
 'asnseast',
 'asnsouth',
 'asnsril',
 'asnthai',
 'asntwn',
 'asnvtn',
 'blnh',
 'fem',
 'fpop0t5',
 'fpop10t14',
 'fpop15t19',
 'fpop20t24',
 'fpop25t29',
 'fpop30t34',
 'fpop35t39',
 'fpop40t44',
 'fpop45t49',
 'fpop50t54',
 'fpop55t59',
 'fpop5t9',
 'fpop60t64',
 'fpop65t69',
 'fpop70t74',
 'fpop75t79',
 'fpop80t84',
 'fpop85pl',
 'geo_i',
 'geognam',
 'geoi',
 'geotyp',
 'hsp1',
 'hsp2',
 'hspalloth',
 'hsparg',
 'hspbol',
 'hspcam',
 'hspchl',
 'hspcol',
 'hspcr',
 'hspcub',
 'hspdom',
 'hspec',
 'hspguatm',
 'hsphnd',
 'hspme',
 'hspnic',
 'hspocam',
 'hsposam',
 'hspoth',
 'hsppan',
 'hspperu',
 'hsppr',
 'hspprg',
 'hspsalv',
 'hspsam',
 'hspspam',
 'hspspnrd',
 'hspspnsh',
 'hspurg',
 'hspvnz',
 'male',
 'mdage',
 'mdpop0t4',
 'mdpop10t14',
 'mdpop15t17',
 'mdpop18t19',
 'mdpop20',
 'mdpop21',
 'mdpop22t24',
 'mdpop25t29',
 'mdpop30t34',
 'mdpop35t39',
 'mdpop40t44',
 'mdpop45t49',
 'mdpop50t54',
 'mdpop55t59',
 'mdpop5t9',
 'mdpop60t61',
 'mdpop62t64',
 'mdpop65t66',
 'mdpop67t69',
 'mdpop70t74',
 'mdpop75t79',
 'mdpop80t84',
 'mdpop85pl',
 'mdpop_3',
 'mpop0t5',
 'mpop10t14',
 'mpop15t19',
 'mpop20t24',
 'mpop25t29',
 'mpop30t34',
 'mpop35t39',
 'mpop40t44',
 'mpop45t49',
 'mpop50t54',
 'mpop55t59',
 'mpop5t9',
 'mpop60t64',
 'mpop65t69',
 'mpop70t74',
 'mpop75t79',
 'mpop80t84',
 'mpop85pl',
 'nam',
 'nhpinh',
 'nhsp',
 'othnh',
 'pop',
 'pop10t14',
 'pop15t19',
 'pop20t24',
 'pop25t29',
 'pop30t34',
 'pop35t39',
 'pop40t44',
 'pop45t49',
 'pop50t54',
 'pop55t59',
 'pop5t9',
 'pop60t64',
 'pop65pl1',
 'pop65pl2',
 'pop65plf',
 'pop65plm',
 'pop65t69',
 'pop70t74',
 'pop75t79',
 'pop80t84',
 'pop85pl',
 'pop_1',
 'pop_2',
 'pop_6',
 'popu181',
 'popu18_2',
 'popu18f',
 'popu18m',
 'popu5',
 'rc2plnh',
 'wtnh'}

In [31]:
result.shape

(391840, 8)

In [32]:
result.head()

  geoid geoname          c       e           m         p         z  variable
0  BX31    BX31   9.760803  2310.0  370.905648  7.190214  1.120307  Pop25t29
1  BX05    BX05   7.344214  5404.0  652.869819  9.362764  1.093873  Pop25t29
2  BX06    BX06  11.178651  2928.0  538.426411  9.763254  1.733736  Pop25t29
3  BX07    BX07   8.644393  3444.0  489.737685  9.043405  1.236867  Pop25t29
4  BX01    BX01   9.267124  2976.0  453.673892  8.299866  1.211234  Pop25t29

In [34]:
result.to_csv('data/demo_final_pivoted.csv')

### Spot checking

In [5]:
#estimate, sex and age - total population
g = 'Pop25t29'
df[df['GEO_ID']=='BK69'][[g+'E', g+'M', g+'C', g+'P', g+'Z']]

    Pop25t29E   Pop25t29M  Pop25t29C  Pop25t29P  Pop25t29Z
51     4617.0  466.293899   6.139513  11.970754   1.135794